
#platzi-nav img{
    width: 80px;
}
.text-platzi{
    color: #97c93e !important;
}
#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover; /*ARREGLA LA IMAGEN ESTIRADA*/
    filter: grayscale(70%); /*PONE UN FILTRO */
}
#main #carousel{
    position: relative;
}
#carousel .overlay{
    position: absolute;/*El overlay se expande por el alto y ancho del padre*/
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background-color:rgba(0,0,0,0.5);
    color:white;
    z-index: 1; /*PARA QUE SE MUESTRE EL TEXTO*/
    text-align: right;
   
}
#carousel .overlay .container,
#carousel .overlay .row{
    align-items: center;
    height: 100%;
}
.btn-platzi{
    background-color:#97c93e ;
    border-color: #97c93e;
}
.btn-platzi:hover{
    background-color: #82ad36;
    border-color:#82ad36 ;
}
#container__card-orador{
    display: flex;
    justify-content: center;
}
#card-orador{
    margin-right: 0;

}
#place-time{
    background-color:#343a40 ;
    color: white;
}
#place-time img{
    max-width: 100%;
}
#footer{
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472)
}

#footer a {
    color:white;
    text-decoration: none;
}