
#nav img{
    width: 80px;
}
.text-platzi{
    color: #97c93e !important;
}
#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover; /*ARREGLA LA IMAGEN ESTIRADA*/
    filter: grayscale(70%); /*PONE UN FILTRO */
}
#footer{
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472)
}

#footer a {
    color:white;
    text-decoration: none;
}